/* Text Styles */
h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.015em;
    color: #222020;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 75px;
    letter-spacing: 0.015em;
    color: #222020;
    margin: 0;
}
h3 {
margin-top: 5px;
margin-bottom: 0px;
font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 31px;

color: #222020;
}
h4 {
    font-family: 'Libre Baskerville';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 25px;
margin: 0px;
color: #222020;
}
h5 {
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
letter-spacing: 0.015em;
margin: 0px;
margin-top: 20px;
color: #222020;
}
p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.015em;

color: #000000;
}

a {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.015em;
text-decoration-line: underline;
color: #2F2E2E;
}
/* Navigation */
nav {
    width: 100%;
    left: 0px;
    right: 0px;
}
.navBar {
    position: absolute;
    display: flex;
width: auto;
height: 75px;
top: 0px;
left: 0px;
right: 0px;
padding-left: 7.64%;
padding-right: 7.64%;
background-color: #E57F5F;
}

.grLogo {
left: 7.64%;
width: 212px;
height: 55px;
padding-top: 10px;
}

.navButtons {
    position: absolute;
    display: flex;
    left: 26.32%;
    top: 0px
    
}
.navButtons p {
    margin-top: 28.25px;
    margin-bottom: 28.25px;
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.015em;

color: #221515;
}
#browse {
    margin-left: calc(2vw);
    margin-right: calc(2vw);
}
.searchBarNav {
    display: none; /*can delete this to bring in the search bar on other pages */
    position: absolute;
    left: 56.53%;
    right: 20.69%;
    top: 22.67%;
    bottom: 24%;
    
    background: #FFFFFF;
    border-radius: 120px;
}
.searchBarNav img {
width: 38px;
position: absolute;
padding: 2px;
right: 5px;
}
.navIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.navIcons img {
    width: 38px;
    margin-left: 18px;
}
#profileImg {
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
    width: 50px;
}

/* Hero Section */

.hero {
    position: absolute;
    padding: 0px;
    height: 300px;
    width: auto;
    background: url(../images/hero.png);
    margin-top: 75px;
    background-size: cover;
    background-position: center;
    left: 0px;
    right: 0px;
    top: 0px;
}
.valueProp {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.searchBarHome {
    position: absolute;
height: 60px;
left: 20%;
right: 20%;
top: 148px;
background: #FFFFFF;
border-radius: 120px;
filter: drop-shadow(0px 4px 37px rgba(0, 0, 0, 0.2));

}
.searchBarHome img {
    position: absolute;
height: 45px;
right: 12px;
top: 8px;
}

/*CURRENT READ*/

.currentRead {
    position: absolute;
    display: flex;
width: 100%;
height: 500px;
left: 0px;
right: 0px;
top: 372px;
background: #FFFFFE;
box-shadow: 0px 7px 19px 16px rgba(0, 0, 0, 0.1);
z-index: 1;
}
.currentRead img {
    position: absolute;
height: 400px;
left: 7.64%;
right: 74.11%;
top: 50px;
display: block;
}
.currentReadCopy {
    position: absolute;
height: 400px;
left: calc(7.64% + 300px);
right: 7.64%;
top: 50px;
}
.buttonCurrent{
    position: absolute;
width: 146px;
height: 60px;
right: 0px;
top: 335px;
background: #2F2E2E;
border-radius: 39px;
text-decoration: none;
border: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.015em;
color: #F9F8F5;
}

#textEntryCR {
    position: absolute;
height: 162px;
left: 0px;
right: calc(7.64% + 105px);

top: 238px;
background: rgba(196, 196, 196, 0.28);
border-radius: 20px;
}
#textEntryCR p {
    padding-left: 16px;
}
#rate {
    position: absolute;
    right: 0px;
    top: 0px;
}
#rate h5 {
    text-align: right;
}
#rateStars {
    position: absolute;
width: 169px;
height: 33px;
right: 0px;
left: auto;
top: 54px;
}
/*About Author Section */
.aboutAuthor {
    position: absolute;
width: 100%;
height: 705px;
left: 0px;
right: 0px;
top: 872px;
background: #E4C36D;
}
#authorImg {
    position: absolute;
height: 821.17px;
top: 0px;
z-index: 1;
}
#yokoInfo {
    position: absolute;
    top: 50px;
    left: 43.54%;
    right: 7.57%;
}
#yokoInfo p {
    margin: 0px;
}
#otherBooksYoko {
    position: absolute;
    left: 43.54%;
    right: 7.57%;
    top: 311px;
}
.yokoCover {
    height: 232px;
    filter: drop-shadow(9px 4px 8px rgba(0, 0, 0, 0.25));
}
#booksOnYokoShelf {
    display: flex;
    justify-content: space-around;
}
#shelfYoko {
    width: 100%;
height: 20px;
background: url(../images/walnut.jpeg);
}
/*Friend Suggestions*/
.friendsRead{
    z-index: 100;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1577px;
background: #5A7B63;
height: 700px;
}

.friendsRead h2 {
    color: white;
    margin-top: 50px;
    margin-left: 7.64%;
}

.frBooks {
    display: flex;
    justify-content: space-around;
    margin-block-start: 30px;
    margin-left: 7.57%;
    margin-right: 7.57%;
}
.frBookImage {
    height: 378px;
    filter: drop-shadow(13px 4px 12px rgba(0, 0, 0, 0.25));

}
#shelfFriends {
    width: auto;
    height: 25px;
    background: url(../images/oakkk.jpeg);
    background-size:cover;
    background-position: center;
    margin-left: 7.57%;
    margin-right: 7.57%;
}

.friendFaceOverlay {
    position:absolute;
    width: 84.86%;
    padding-left: 7.57%;
    padding-right: 7.57%;
    display: flex;
    justify-content: space-around;
    top: 475px;
}
.ffoImg {
    height: 114px;
    filter: drop-shadow(2px 4px 14px rgba(0, 0, 0, 0.4));
    z-index: 10;
}
#viewMore {
    width: 186px;
    justify-content: center;
    align-items: center;
    right: auto;
    left: auto;
    position: absolute;
    height: 60px;
    top: 595px;
    background: #2F2E2E;
    border-radius: 39px;
    text-decoration: none;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #F9F8F5;
    margin-left: calc(50% - 93px);
    margin-right: calc(50% - 93px);
    margin-top: 6px;

}


/* Reading Challenge section */

.readingChallenge {
    height: 700px;
    width: 84.86%;
    left: 0px;
    right: 0px;
    top: 2276px;
    position: absolute;
    padding-left: 7.57%;
    padding-right: 7.57%;
    padding-top: 50px;
    background: #FFD9D3;
    margin-bottom: 272px;
}

.rcCard {
    position: absolute;
    height: 260px;
    left: 7.64%;
    right: 65.07%;
    top: 150px;
    background: #F9F8F5;
    box-shadow: 6px 4px 19px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
#rcLeft {
    text-align: center;
}
#rcLeft h1 {
    padding-left: 46px;
    margin-bottom: 13px;
}
#rcLeft h2 {
    line-height: 41px;
    margin-top: 19px;
}
#rcLeft h6 {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 113px;
display: flex;
align-items: center;
letter-spacing: 0.015em;
margin: 0px;
color: #000000;
position: absolute;
top: 57px;
left: 125px;
}
#rcLeft p {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.015em;
margin: 0px;
color: #000000;
justify-content: center;

}
#shareDiv {
    left: 7.64%;
    right: 65.07%;
    position: absolute;
    top: 540px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 45px;
}
#shareDiv img {
    margin-left: 16px;
    height: 40px;
}
#shareDiv h5 {
    margin: 0px;
    font-weight: 700;
}
.challengeButton {
    width: 246px;
    justify-content: center;
    align-items: center;
    right: auto;
    left: 0px;
    position: absolute;
    height: 60px;
    background: #2F2E2E;
    border-radius: 39px;
    text-decoration: none;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #F9F8F5;
    margin-left: calc(50% - 123px);
    margin-right: calc(50% - 123px);
    margin-top: 85px;
}


#rcRight {
    display: flex;
    position: absolute;
height: 500px;
left: 43.54%;
right: 7.64%;
top: 170px;
align-items: flex-end;
}
.leaderboardColumn {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
.leaderboardColumn img {
    width: 114px;
}
.leaderboardColumn h2 {
    bottom: 18px;
    color: white;
}

#lc1 {
    height: 299px;
    background: #3981CC;
    border-radius: 10px 0px 0px 0px;
}
#lc2 {
    height: 339px;
    background: #80B87B;
    border-radius: 10px 0px 0px 0px;
}
#lc3 {
    height: 472px;
    background: #DF6E9A;
    border-radius: 10px 10px 0px 0px;
}
#lc3 h2 {
    font-size: 55px;
    margin-bottom: 20px;
}
#lc4 {
    background: #B85F53;
    height: 231px;
}
#lc5 {
    height: 424px;
    background: #527667;
    border-radius: 10px 10px 0px 0px;
}


/* Footer */

footer {
    position: absolute;
    display: flex;
width: auto;
height: 272px;
top: 3026px;
left: 0px;
right: 0px;
padding-left: 7.64%;
padding-right: 7.64%;
background-color: #E57F5F;
display: flex;
flex-direction: column;
}

.footerTopRow {
    width: 100%;
}
#footerLogo {
    padding-top: 50px;
}
#footerNav {
    top: 46px;
    left: 43.54%;
    right: 7.64%;
    justify-content: space-between;
    padding-right: 15%;
}

#footerCopy {
    position: absolute;
    left: 7.71%;
    right: 65.07%;
    top: 110px;
}

#footerIcons {
    position: absolute;
    display: flex;
    top: 156px;
    left: 43.54%;
    right: 7.64%;
    justify-content: space-between;
}
#iosApp {
    padding-right: 14px;
}
#socialIconImg {
    width: auto;
    height: 54px;
}
